.navbar-inverse {
  background-color:  #0C234B;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.value-box {
  color: #fff;
}

.value-box {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 18px;
}

.value-box .icon i {
    color: rgba(255,255,255, 0.25)
}

.body {
    font-family: "Proxima Nova",sans-serif;
}

.chart-title {
    font-family: "Proxima Nova", sans-serif;
    font-size: 16px;
}

.section.sidebar {
  background-color: #fcfcfc;
}

.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 14px Helvetica;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
